In [0]:
%spark.pyspark
df=spark.read.csv('s3://datasetsjssaninv/jssaninv/datasets/spark/covid/',inferSchema=True,header=True)

In [1]:
%spark.pyspark
df.createOrReplaceTempView("covid1")

In [2]:
%spark.pyspark
df_1_zeppelin = spark.sql("SELECT `nombre departamento`, count(*) FROM covid1 GROUP BY `nombre departamento` ORDER BY count(*) DESC LIMIT 10;")

In [3]:
%spark.pyspark

In [4]:
%spark.pyspark
df_1_zeppelin.show()

In [5]:
%spark.pyspark
df_2_zeppelin = spark.sql("SELECT `nombre municipio`, count(*) FROM covid1 GROUP BY `nombre municipio` ORDER BY count(*) DESC LIMIT 10;")

In [6]:
%spark.pyspark
df_2_zeppelin.show()

In [7]:
%spark.pyspark
df_3_zeppelin = spark.sql("SELECT `fecha de diagnóstico`, count(*) FROM covid1 GROUP BY `fecha de diagnóstico` ORDER BY count(*) DESC LIMIT 10;")

In [8]:
%spark.pyspark
df_3_zeppelin.show()

In [9]:
%spark.pyspark
df_4_zeppelin = spark.sql("SELECT edad, count(*) FROM covid1 GROUP BY edad ORDER BY count(*);")

In [10]:
%spark.pyspark
df_4_zeppelin.show()

In [11]:
%spark.pyspark
df_5_zeppelin = spark.sql("SELECT `nombre departamento`, estado, count(*) FROM covid1 GROUP BY `estado`, `nombre departamento` ORDER BY `nombre departamento` ;")

In [12]:
%spark.pyspark
df_5_zeppelin.show()

In [13]:
%spark.pyspark
df_1_zeppelin.coalesce(1).write.csv("s3://datasetsjssaninv/jssaninv/laboratorio4/4-1",header="true")
df_2_zeppelin.coalesce(1).write.csv("s3://datasetsjssaninv/jssaninv/laboratorio4/4-2",header="true")
df_3_zeppelin.coalesce(1).write.csv("s3://datasetsjssaninv/jssaninv/laboratorio4/4-3",header="true")
df_4_zeppelin.coalesce(1).write.csv("s3://datasetsjssaninv/jssaninv/laboratorio4/4-4",header="true")
df_5_zeppelin.coalesce(1).write.csv("s3://datasetsjssaninv/jssaninv/laboratorio4/4-5",header="true")

In [14]:
%spark.pyspark